section.services
	.container
		.services-head
			h2.h3 Услуги
		.services-content
			//- item
			.services-content__item
				.services-item__icon
					+icon('iconComputers')
				.services-item__head
					h3.h3 Обслуживание техники
				.services-item__content
					p Сопровождение компьютеров компании. Организация и сопровождение серверов: хранения данных, обеспечения безопасности, полики прав доступа внутри компании.
			//- item
			.services-content__item
				.services-item__icon
					+icon('iconNetwork')
				.services-item__head
					h3.h3 Организация сети
				.services-item__content
					p Монтаж структурированных кабельных сетей. Организация внешней и внутренней сети компании. Обеспечение сетевой безопаности. Внедрение и обслуживание соответствующего оборудования.
			//- item
			.services-content__item
				.services-item__icon
					+icon('iconMonitoring')
				.services-item__head
					h3.h3 Поддержка
				.services-item__content
					p Мониторинг работоспособности оборудования и канала связи. Аналитика безопасности сети, внесение своевременных изменений. Техническая поддержка компании.
			//- item
			.services-content__item
				.services-item__icon
					+icon('iconAnalytics')
				.services-item__head
					h3.h3 Торговля и бухгалтерия
				.services-item__content
					p Внедрение и установка программ 1С в файловых, серверных вариантах. Переход на новые версии 1С. Перенос данных между различными конфигурациями 1С и программами. Написание отчётов и обработок.
			//- item
			.services-content__item
				.services-item__icon
					+icon('iconWeb')
				.services-item__head
					h3.h3 Web-разработка
				.services-item__content
					p Разработка современных адаптивных сайтов. Согласование концепции сайта, отрисовка дизайн-проекта с уникальной стилистикой, согласование и разработка. Наполнение информацией, дальнейшая поисковая оптимизация.
			//- item
			.services-content__item
				.services-item__icon
					+icon('iconAds')
				.services-item__head
					h3.h3 Реклама и печать
				.services-item__content
					p Выпуск печатной продукции: буклеты, визитки компании. Комплексная интернет-реклама в основных поисковых системах: Yandex, Google и социальные сети, в зависимости от целевой аудитории компании.
		.services-action
			a.btn.btn-primary.popup-with-zoom-anim(href='#form-task-dialog' data-form='Обсудить проект' data-text='Пожалуйста, опишите в свободной форме, какую задачу необходимо решить?')
				| Обсудить проект
				+icon('right-arrow')