footer.footer.footer-top
	.container
		.footer-content
			.footer-content__contacts
				.footer-logo
					+icon('logoBlack')
				.footer-company
					small Профессиональный IT-аутсорсинг в Екатеринбурге
				.footer-phone
					a(href='tel:+79222046439' title='Контактный телефон')
						+icon('phone-call')
						| +7 (922) 204-64-39
			.footer-content__nav
				.footer-nav__head
					h4.h4 IT-аутсорсинг
				.footer-nav__menu
					nav
						ul
							li
								a(href='javascript:void(0)' title='Обслуживание компьютеров') Обслуживание компьютеров
							li
								a(href='javascript:void(0)' title='Сопровождение серверов') Сопровождение серверов
							li
								a(href='javascript:void(0)' title='Сеть и интернет') Сеть и интернет
							li
								a(href='javascript:void(0)' title='Телефония') Телефония
			.footer-content__nav
				.footer-nav__head
					h4.h4 Бухгалтерия
				.footer-nav__menu
					nav
						ul
							li
								a(href='javascript:void(0)' title='Сопровождение программ 1С') Сопровождение программ 1С
							li
								a(href='javascript:void(0)' title='Создание конфигураций на заказ') Создание конфигураций на заказ
							li
								a(href='javascript:void(0)' title='Обновление программ 1С') Обновление программ 1С
							li
								a(href='javascript:void(0)' title='Обмен данными между офисами') Обмен данными между офисами
			.footer-content__nav
				.footer-nav__head
					h4.h4 Web-разработка
				.footer-nav__menu
					nav
						ul
							li
								a(href='javascript:void(0)' title='Сайт-визитка') Сайт-визитка
							li
								a(href='javascript:void(0)' title='Корпоративный сайт компании') Корпоративный сайт компании
							li
								a(href='javascript:void(0)' title='Интернет-магазины') Интернет-магазины
							li
								a(href='javascript:void(0)' title='Реклама в интернет') Реклама в интернет
	.footer-bottom
		.container
			.footer-bottom__name ИП Суворов, ИНН 1234567897
			.footer-bottom__copyright
				|	Все права защищены 1malex.ru &copy;
				script(language='JavaScript').
					now = new Date(); document.write(now.getFullYear());
			.footer-bottom__policy
				a(href='javascript:void(0)' title='Политика конфиденциальности') Политика конфиденциальности